{{#if resume.publications.length}}
<div class="container publications-container">
  {{> title value="Selected Publications"}}
    {{#each resume.publications}}
      <ul class="minimal">
        <section class="item">
        <h4 class="bold clearfix">{{name}}</h4>
        <h4>
          <span>{{authors}}</span>,
          <span class="publisher-name">{{publisher}}</span>,
          <span>{{releaseDate}}</span>
        </h4>
      </ul>
    {{/each}}
</div>
{{/if}}
