FROM node:slim

# set working directory
WORKDIR /usr/src/app

RUN apt-get update && apt-get install curl gnupg -y \
  && curl --location --silent https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add - \
  && sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list' \
  && apt-get update \
  && apt-get install google-chrome-stable -y --no-install-recommends \
  && rm -rf /var/lib/apt/lists/*

ENV PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
ENV PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
ENV RESUME_PUPPETEER_NO_SANDBOX=1

# install resume dependencies
COPY ../resume/index.js /usr/src/app/resume/index.js
COPY ../resume/package.json /usr/src/app/resume/package.json
ADD ../resume/theme /usr/src/app/resume/theme/

RUN cd /usr/src/app/resume && npm install

# Expose port 4000
EXPOSE 4000
